
    
  }
  .content2 h1{
    font-size: 70px;
    color: #fff;
    margin-top: 0px;
    line-height: 75px;
  }
  .content2 p{
    color: #fffcfc;
    font-size: 20px;
    margin-top: 60px;
    line-height: 40px;
    letter-spacing: 1px;
    
  }
  .btn{
    background: opacity;
    border: 1px solid #000000;
    border-radius: 8px;
    color: #fcf7f7;
    margin-left: 10px;
  }
  .content2 h2{
    color: #eb8e54;
  }
  
